<div>
  &nbsp;
</div>
<footer class="footer">
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <h4>About Us</h4>
          <p>The Institute, ER D.K.Classes is started, managed and run by Er. Dayanand Kumar.<br>
            It is founded in 2013 with very minimal resources.
            But in very sort span of time it has grown to a great extent.
            In every expect it proved it's value and meaning.
            We prove it by our results in every field of education which we provide here.
            Our Students selected in multiple compititive exams and scored high in board exams.
            We are on the path to break our own records and achieve new hieght in providing mordern education to new youth.
          </p>

        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Useful Links</h4>
          <ul class="footer-links">
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="/">Home</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="/about" >About Us</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="/batches">Batches</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="/downloads">Downloads</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="mission">Our Mission</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="vission">Our Vission</a>
            </li>
            <li class="footer-list-item">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <a routerLink="/contact-us">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Contact Info</h4>
          <p>Near Mohan Singh Ara Machine, <br>
          Village - Ramgarh, Post - Ramgarh, <br>
          District - Kaimur, State - Bihar <br>
          Pin - 821110</p>
          <p>Mob: +91 954 622 7259</p>
          <p>Email: dayanandkumar5603@gmail.com</p>
        </div>
        <div class="col-md-6 col-lg-3">
          <h4>Our Newsletter</h4>
          <p>Education is a process in which and by which the knowledge,
            characters and behavior of the human being are shaped and molded.
            Education is lead to the enlightenment of mankind.
            <strong>Aristotle</strong> said a education is process of creation of sound mind in a sound body.<br>
            <strong>Pestolozi</strong> said education is a natural, progressive and systematic development of all the forces.
            It distinguishes human being from other creations.<br>
            The process of education is not only self- realization of the individual
            but it is also to bring into action the potential in man.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="socialMedia">
    <div class="container">
      <div class="row">
        <div class="social">
          <ul>
            <li>
              <div>
                  <i class="fa fa-facebook-f"></i>
              </div>
            </li>
            <li>
              <div>
                <i class="fa fa-google-plus"></i>
              </div>
            </li>
            <li>
              <div>
                <i class="fa fa-twitter"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
