<div class="container">
    <h3 class="heading-agileinfo">Class 12 Study Material Downloads</h3>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Download</th>
          </tr>
        </thead>
        <tr>
          <td><strong>1. </strong></td>
          <td>Science - topic name</td>
          <td>
            <a href="../../../assets/download-documents/class-12/1.pdf" download>
              <i class="fa fa-cloud-download fa-2x"></i>
            </a>
          </td>
        </tr>

        <tr>
            <td><strong>2. </strong></td>
            <td>Maths - topic name</td>
            <td>
              <a href="../../../assets/download-documents/class-12/2.pdf" download>
                <i class="fa fa-cloud-download fa-2x"></i>
              </a>
            </td>
          </tr>
          <tr>
              <td><strong>3. </strong></td>
              <td>Geography - topic name</td>
              <td>
                <a href="../../../assets/download-documents/class-12/3.pdf" download>
                  <i class="fa fa-cloud-download fa-2x"></i>
                </a>
              </td>
            </tr>
            <tr>
                <td><strong>4. </strong></td>
                <td>Science - topic name</td>
                <td>
                  <a href="../../../assets/download-documents/class-12/4.pdf" download>
                    <i class="fa fa-cloud-download fa-2x"></i>
                  </a>
                </td>
              </tr>
              <tr>
                  <td><strong>5. </strong></td>
                  <td>Biology - topic name</td>
                  <td>
                    <a href="../../../assets/download-documents/class-12/5.pdf" download>
                      <i class="fa fa-cloud-download fa-2x"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                    <td><strong>6. </strong></td>
                    <td>Hindi - topic name</td>
                    <td>
                      <a href="../../../assets/download-documents/class-12/6.pdf" download>
                        <i class="fa fa-cloud-download fa-2x"></i>
                      </a>
                    </td>
                  </tr>
      </table>
    </div>
  </div>
