
<div class="container">
    <div class="card contact-image" style="width: auto;">
        <div class="card-body">

        </div>
      </div>

    <div class="card text-center">
        <div class="card-header">
          Contact Us
        </div>
        <div class="card-body">
          <h5 class="card-title">
              <i class="fa fa-map-marker">&nbsp;</i>Our office
            </h5>
          <p class="card-text">Near Mohan Singh Ara Machine,<br>
              Village - Ramgarh, Post - Ramgarh,<br>
              District - Kaimur, State - Bihar <br>
              Pin - 821110</p>
          <a [routerLink]="['/']"  class="btn btn-primary"><i class="fa fa-home fa-2x"></i>Home</a>
        </div>
        <div class="card-footer text-muted">
          Call us at: +91 954 622 7259
        </div>
      </div>
</div>
