th {
  background-color:rgb(22, 65, 90);
  color:white;
}

table{
  border:1px solid black;
  border-collapse:collapse ;
  padding:0px;
}

th{
  padding:10px;
  border:1px solid black;
}

td{
  padding:10px;
  border:1px solid black;
  text-align:left;
}

tr:nth-child(even)
{
    background-color:white;
}

tr:nth-child(odd)
{
    background-color:#eee;
}

.heading-agileinfo {
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 40px;
  margin-bottom: 1em;
  text-align: center;
  color: #6b1d35;
  text-transform: uppercase;
  /* position: relative; */
  margin-top: 0;
}

@media screen and (max-width: 640px) {
  .heading-agileinfo {
    font-size: 20px;
    /* margin-top: 255px; */
  }
}
