<div class="container">
    <h3 class="heading-agileinfo">About ER D.K. Classes</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Perticular</th>
            <th scope="col">Read More</th>
          </tr>
        </thead>
        <tbody class="table-info">
          <tr>
            <th scope="row">1. </th>
            <td>Organization</td>
            <td>
              <a [routerLink]="['/about/organization']">
                <i class="fa fa-hand-o-right fa-2x"></i>
              </a>
          </td>
          </tr>
          <tr>
            <th scope="row">2. </th>
            <td>Why ER D.K. Classes</td>
            <td>
                <a [routerLink]="['/about/why-erdk']">
                  <i class="fa fa-hand-o-right fa-2x"></i>
                </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3. </th>
            <td>About ER D.K. Classes</td>
            <td>
                <a [routerLink]="['/about/about-erdk']">
                  <i class="fa fa-hand-o-right fa-2x"></i>
                </a>
            </td>
          </tr>
          <tr>
              <th scope="row">4. </th>
              <td>Director's Message</td>
              <td>
                  <a [routerLink]="['/about/director-msg']">
                    <i class="fa fa-hand-o-right fa-2x"></i>
                  </a>
              </td>
          </tr>
        </tbody>
      </table>
</div>
