<div class="container">
    <h3 class="heading-agileinfo">Our Running Batches</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Batches</th>
            <th scope="col">Read More</th>
          </tr>
        </thead>
        <tbody class="table-success">
          <tr>
            <th scope="row">1. </th>
            <td>Class 10</td>
            <td>
              <a [routerLink]="['/batches/ten']">
                <i class="fa fa-leanpub fa-2x"></i>
              </a>
          </td>
          </tr>
          <tr>
            <th scope="row">2. </th>
            <td>Class 11</td>
            <td>
                <a [routerLink]="['/batches/eleven']">
                  <i class="fa fa-leanpub fa-2x"></i>
                </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3. </th>
            <td>Class 12</td>
            <td>
                <a [routerLink]="['/batches/twelve']">
                  <i class="fa fa-leanpub fa-2x"></i>
                </a>
            </td>
          </tr>
          <tr>
              <th scope="row">4. </th>
              <td>Competition Exams</td>
              <td>
                  <a [routerLink]="['/batches/competition']">
                    <i class="fa fa-leanpub fa-2x"></i>
                  </a>
              </td>
          </tr>
        </tbody>
      </table>
</div>
