<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center title text-dark">
          <strong>Testimonials</strong>
        </h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item text-center active">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/akhilesh.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Akhilesh Yadav</strong></h5>
              <h6 class="text-dark m-1">Army cleark</h6>
              <p class="pt-3 text-white">
                Modi velit necessitatibus ea obcaecati delectus voluptates adipisci corrupti sint officia nihil.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/asha.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Asha Kumari</strong></h5>
              <h6 class="text-dark m-1">Bihar Police</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. dolore doloremque quasi, ipsum esse elit.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/dinesh.JPG" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Dinesh Kumar</strong></h5>
              <h6 class="text-dark m-1">CRPF</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/student.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Student</strong></h5>
              <h6 class="text-dark m-1">Indain army techanical</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/kausal.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Kausal Singh</strong></h5>
              <h6 class="text-dark m-1">Indian army</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/Neeraj.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Neeraj</strong></h5>
              <h6 class="text-dark m-1">Bihar Police</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/sudhir.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Sudhir kumar</strong></h5>
              <h6 class="text-dark m-1">CISF</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
            <div class="carousel-item text-center">
              <div class="img-box border rounded-circle m-auto">
                <img src="../../../assets/images/testimonial/vinod.jpg" alt="" class="d-block w-100 rounded-circle">
              </div>
              <h5 class="py-1 my-1"> <strong class="text-warning text-uppercase">Vinod Kumar</strong></h5>
              <h6 class="text-dark m-1">Indian Army cleark</h6>
              <p class="pt-3 text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit dolore doloremque quasi, ipsum esse amet.
              </p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


