<section class="full erdk_counter">
  <div class="erdk-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 columns alpha row-eq-height">
      <div class="erdk_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="erdk_count_01">1700+</h4>
        Students enrolled till date
      </div>
      <div class="erdk_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="erdk_count_01">300+</h4>
        Successfully working in various Services.
      </div>
      <div class="erdk_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="erdk_count_01">1000+</h4>
        Books including online materials
      </div>
      <div class="erdk_count col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <h4 class="erdk_count_01">40+</h4>
        Placed in service each year
      </div>
    </div>
  </div>
</section>
