<div class="container">
  <h3 class="heading-agileinfo">Study Material Downloads</h3>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="mobile-hide">Sr. No.</th>
          <th>Class</th>
          <th>Total Documents</th>
          <th>Download</th>
        </tr>
      </thead>
      <tr>
        <td class="mobile-hide"><strong>1. </strong></td>
        <td>Class - 10</td>
        <td>112</td>
        <td>
          <a [routerLink]="['/downloads/ten']">
            Download Page
            <!-- <i class="fa fa-chevron-circle-right fa-2x redirect-download"></i> -->
          </a>
        </td>
      </tr>

      <tr>
        <td class="mobile-hide"><strong>2. </strong></td>
        <td>Class - 11</td>
        <td>3589</td>
        <td>
          <a [routerLink]="['/downloads/eleven']">
            Download Page
          </a>
        </td>
      </tr>

      <tr>
        <td class="mobile-hide"><strong>3. </strong></td>
        <td>Class - 12</td>
        <td>3499</td>
        <td>
          <a [routerLink]="['/downloads/twelve']">
            Download Page
          </a>
        </td>
      </tr>

      <tr>
        <td class="mobile-hide"><strong>4. </strong></td>
        <td>Competition</td>
        <td>2354</td>
        <td>
          <a [routerLink]="['/downloads/competition']">
            Download Page
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
