<div class="container">
  <h3 class="h3">::: Our Achievements :::</h3>
  <div class="row">
      <div class="col-md-12">
          <div id="news-slider4" class="owl-carousel">
              <div class="post-slide4">
                  <ul class="post-info">
                      <li><i class="fa fa-tag"></i><a href="#">java</a>,<a href="#">php</a></li>
                      <li><i class="fa fa-calendar"></i><a href="#">June 10, 2016</a></li>
                      <li><i class="fa fa-comment"></i><a href="#">1</a></li>
                  </ul>
                  <div class="post-img">
                      <img src="../../assets/images/testimonial/akhilesh.jpg" alt="">
                      <a href="#" class="read">read more</a>
                  </div>
                  <div class="post-content">
                      <span class="post-author">
                          <a href="#"><img src="../../assets/images/testimonial/akhilesh.jpg" alt=""></a>
                      </span>
                      <h3 class="post-title">Latest News Post</h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus est, excepturi nam odit possimus? Accusantium, aut beatae commodi dolore dolores esse fugit id illum ipsam nemo nesciunt obcaecati officiis praesentium provident quasi quis quo repellat sapiente sequi temporibus voluptates.</p>
                  </div>
              </div>

              <div class="post-slide4">
                  <ul class="post-info">
                      <li><i class="fa fa-tag"></i><a href="#">java</a>,<a href="#">php</a></li>
                      <li><i class="fa fa-calendar"></i><a href="#">June 12, 2016</a></li>
                      <li><i class="fa fa-comment"></i><a href="#">3</a></li>
                  </ul>
                  <div class="post-img">
                      <img src="../../assets/images/testimonial/asha.jpg" alt="">
                      <a href="#" class="read">read more</a>
                  </div>
                  <div class="post-content">
                      <span class="post-author">
                          <a href="#"><img src="../../assets/images/testimonial/asha.jpg" alt=""></a>
                      </span>
                      <h3 class="post-title">Latest News Post</h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus est, excepturi nam odit possimus? Accusantium, aut beatae commodi dolore dolores esse fugit id illum ipsam nemo nesciunt obcaecati officiis praesentium provident quasi quis quo repellat sapiente sequi temporibus voluptates.</p>
                  </div>
              </div>

              <div class="post-slide4">
                  <ul class="post-info">
                      <li><i class="fa fa-tag"></i><a href="#">java</a>,<a href="#">php</a></li>
                      <li><i class="fa fa-calendar"></i><a href="#">June 12, 2016</a></li>
                      <li><i class="fa fa-comment"></i><a href="#">3</a></li>
                  </ul>
                  <div class="post-img">
                      <img src="../../assets/images/testimonial/dinesh.JPG" alt="">
                      <a href="#" class="read">read more</a>
                  </div>
                  <div class="post-content">
                      <span class="post-author">
                          <a href="#"><img src="../../assets/images/testimonial/dinesh.JPG" alt=""></a>
                      </span>
                      <h3 class="post-title">Latest News Post</h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus est, excepturi nam odit possimus? Accusantium, aut beatae commodi dolore dolores esse fugit id illum ipsam nemo nesciunt obcaecati officiis praesentium provident quasi quis quo repellat sapiente sequi temporibus voluptates.</p>
                  </div>
              </div>

              <div class="post-slide4">
                  <ul class="post-info">
                      <li><i class="fa fa-tag"></i><a href="#">java</a>,<a href="#">php</a></li>
                      <li><i class="fa fa-calendar"></i><a href="#">June 12, 2016</a></li>
                      <li><i class="fa fa-comment"></i><a href="#">3</a></li>
                  </ul>
                  <div class="post-img">
                      <img src="../../assets/images/testimonial/kausal.jpg" alt="">
                      <a href="#" class="read">read more</a>
                  </div>
                  <div class="post-content">
                      <span class="post-author">
                          <a href="#"><img src="../../assets/images/testimonial/kausal.jpg" alt=""></a>
                      </span>
                      <h3 class="post-title">Latest News Post</h3>
                      <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus est, excepturi nam odit possimus? Accusantium, aut beatae commodi dolore dolores esse fugit id illum ipsam nemo nesciunt obcaecati officiis praesentium provident quasi quis quo repellat sapiente sequi temporibus voluptates.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
