<div class="container">
    <h3>Update - Class 10 Notes uploaded</h3>
    <p>
        1. Science - Gravitation<br>
        2. English - Model, Active & Pacive
    </p>

    <h3>Update - Class 11 Notes uploaded</h3>
    <p>
        1. Science - Gravitation<br>
        2. English - Model, Active & Pacive
    </p>

    <h3>Update - Class 12 Notes uploaded</h3>
    <p>
        1. Science - Gravitation<br>
        2. English - Model, Active & Pacive
    </p>

    <h3>Update - Competitive Exams Notes uploaded</h3>
    <p>
        1. Science - Gravitation<br>
        2. English - Model, Active & Pacive
    </p>
</div>
